*{
    margin: 0;
    padding: 0;

}

.logo-img{
    width: 168px;
    height: 45px;
    margin-left: 50px ;
}

.nav-element{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-left: auto;

    
    
}

.nav-element li{
   padding: 30px;
}



.user-profile{
    margin-right: 50px;
   
}

.user-profile img{
    width: 30px;
    height: 30px;
}

@media(max-width: 1000px){
    .logo-img{
        
        margin-left: 0;
    }

    
.user-profile{
    margin-right: 10px;
}

    

}

