.forgotpasswordpage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.forgotpasswordform{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 50vh;
    border: 1px solid black;

}

.forgotpasswordform h2{
    margin-top: 5vh;
    font-weight: 700;
}

.headblock{
    width: 20vw;
}

.headblock1{
    margin-top: 5vh;
    width: 30vw;
    display: flex;
    justify-content: start;
    align-items: start;
}